:root {
    --background-image:
        url("/public/image/background.jpg");
    --color-gray: #ededed;
    --color-title: #ededed;
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #454e56;
    --hover-color: #fff;
}

.dark {
    --background-image: url("/public/image/background-dark.jpg");
    --color-gray: #333;
    --color-title: #12181b;
    --color-white: #000;
    --color-black: #fff;
    --color-grey: #f8f8f8;
    --hover-color: #fff;
}

.App {
    background: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    color: var(--color-black);
}

.bgBlur {
    line-height: 1.5;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.02);
}

.homeColor {
    color: var(--color-grey);
}

.card {
    background-color: var(--color-black);
    color: var(--color-title);
}

.formColor {
    color: #000;
}

.crad {
    color: var(--color-title);
}

.footer {
    background-color: var(--color-white);
}